{% extends template %}
{% load i18n %}
{% load finchtags %}
{% block content %}
<h2>{% trans "Delete Page" %}</h2>
{% if page.is_root %}
<p>{% trans "You can't delete a root page."%} <a href="/">{% trans "Back" %}</a></p>
{% else %}
<form action="{% url delete_page page.id %}" method="post">
  {% csrf_token %}
  <p>
    {% blocktrans with page.title as title and page.get_absolute_url as url %}
    Are your sure you want to delete the page: `{{ title }}` (
    {{ url }} ) and all underlying pages?{% endblocktrans %}</p>
  <div class="sitemap">
    {% spaceless %}{% for p, structure in tree|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
    {% endfor %}{% endspaceless %}
  </div>
  <script type="text/javascript" src = "{{ STATIC_URL }}js/jquery/plugins/jquery-treeview/jquery.treeview.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.sitemap').treeview();
    });
  </script>
  <input type="submit" name="confirm" value="{% trans "Yes" %}">
  <a class="smcancel" href="{{ page.get_absolute_url }}" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</a>
</form>
{% endif %}
{% endblock %}
