{% extends template %}
{% load i18n %}
{% load finchtags %}
{% block content %}
<h2>{% trans 'Sitemap' %}</h2>
<div id="treecontrol"></div>
<div class="sitemap">
  {% spaceless %}{% for p, structure in tree|tree_info %}
  {% if structure.new_level %}<ul style="background-color: transparent;"><li>{% else %}</li><li>{% endif %}
      <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
      {% for level in structure.closed_levels %}</li></ul>{% endfor %}
  {% endfor %}{% endspaceless %}
  {% ifequal template 'finch/ajax.html' %}
  <a class="smcancel" href="/">{% trans 'Close window' %}</a>
  {% endifequal %}
</div>
<script type="text/javascript" src = "{{ STATIC_URL }}/finch/js/jquery/plugins/jquery-treeview/jquery.treeview.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('.sitemap').treeview({
          control:"#treecontrol"
      });
  });
</script>
{% endblock %}
