{% load i18n finchtags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Finch CMS</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}finch/css/finch.css" type="text/css" media="screen">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% finch_cms %}
    <div class="container">
      <h1>Finch CMS</h1>
      <p>This is just a placeholder page. You can override it by
        creating a base.html in your projects' template dir.</p>
      {% block content %}Here be content{% endblock %}
    </div>
    <div class="footer">
      {% block footer %}
      <p>
        {% if page.updated %}{% trans 'Last modified' %}: {{ page.updated|date:"Y-m-d H:i" }} | {% endif %}
        {% if user.is_anonymous %}
        <a href="{% url auth_login %}?next={{ request.path }}" title="Log in">Login</a>
        {% else %}
        {% trans "Logged in as" %} {{ user }} | <a href="{% url auth_logout %}?next={{ request.path }}">{% trans 'Log out' %}</a>
        {% endif %}
      </p>
      {% endblock %}
    </div>
    {% if perms.finch %}
    <script type="text/javascript" src = "{{ STATIC_URL }}finch/js/jquery.finch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery(document).finch();
      });
</script>
    {% endif %}
    {% block extrajs %}{% endblock %}
  </body>
</html>
